rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return request.auth.token.email == "ikshihab2002@gmail.com";
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow create, update: if request.auth.uid == userId;
    }

    match /matches/{matchId} {
      allow read: if isSignedIn();
      allow create, update, delete: if isAdmin();

      match /bookings/{bookingId} {
        allow read: if isSignedIn();
        allow create: if request.auth.uid == bookingId;
        allow delete: if request.auth.uid == bookingId || isAdmin();
      }
    }

    match /announcements/{announcementId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /activityLogs/{logId} {
      allow create: if isSignedIn();
      allow read: if isAdmin();
    }
  }
}
